.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: var(--main-font);

}

.img {
    width: 100%;
}

.title {
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

/* .description {} */