.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.imgWrapper {
    position: relative;
}

.img {
    width: 100%;
}

.hide {
    display: none;
}


.show {
    display: flex;
    z-index: 100;
    width: 100%;
    background-color: var(--secondary-bg-color);
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.description {
    position: absolute;
    padding: 0.5rem;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--secondary-bg-color);
}