.hide {
    display: none;
}

.show {
    display: flex;
    position: absolute;
    right: 0;
    z-index: 100;
    width: min(100%, 700px);
    background-color: var(--secondary-bg-color);
}

.container {
    flex-direction: column;
    gap: 1rem;
}

.title {
    text-align: center;
    padding: 1rem;

}

.text {
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
}