.container {
    display: flex;
    gap: 1rem;
    margin: 1rem;

}

.img {
    width: 150px;
    height: auto;
}

.wrapper {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 0.2rem;
}

.title, .num {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--secondary-font);
}

.btns {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}



.text {
    display: flex;
    align-self: flex-end;
    padding: 0.2rem 0;
}