.container {
    display: flex;
    gap: 1rem;
    margin: 1rem;

}

.img {
    width: 150px;
    height: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 0.2rem;
}

.text {
    display: flex;
    align-self: flex-end;
}