.nav {
    width: 100%;
    padding: 1rem;
    background-color: var(--secondary-bg-color);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 72rem;
    margin: auto;
}